extends ./templateAdmin.pug

block content
    h2 Admin page
    .row
        .card-group
            each product in products
                .col-sm-4
                    .card(style='width: 20rem;height:35rem;')
                        .card-body
                            img(src='https://aritzia.scene7.com/is/image/Aritzia/medium/s20_01_a01_67557_10006_on_b.jpg', alt='...', width='250')
                            h5.card-title=product.name 
                            h6.card-subtitle.mb-2.text-muted Card subtitle
                            p.card-text=product.description
                            p.card-text Price: $ #{ product.price}
                            a.btn.btn-outline-success(href='/admin/update') Update
                            a.btn.btn-outline-danger(href='/admin/delete') Delete
                            //button.btn.btn-outline-success(type='button') Update
                            //button.btn.btn-outline-danger(type='button') Delete



            