extends ./templateAdmin.pug

block content
    head
        title lottory machine
        h2 Lottory machine
        #title.title Let play
        button.btn.btn-primary.btn-lg(type='button') Start
        button.btn.btn-secondary.btn-lg(type='button') Stop
        //.btns
        //span#play start 
        //span#stop stop