extends ./templateAdmin.pug

block content
        
        form.needs-validation(action="/admin/update/" +product.id method="post" enctype="multipart/form-data" novalidate)
            h2 This is a form that you can update an existing wedding dress
            .form-group
                label(for='productName') Product Name:
                input#exampleInputName.form-control(type='text' placeholder="Product Name" name="name" value=product.name)
            .form-group
                label(for='description') Description:
                input#exampleInputDescription.form-control(type='text' placeholder="Description" name="description" value=product.description)
            .form-group
                label(for='price') Price:
                input#exampleInputPrice.form-control(type='text' placeholder="Price" name="price" value=product.price) 
            .form-group
                label(for='file') Image:
                input#validatedCustomFile.form-control-file(type='file' name="image" required)
                .invalid-feedback
                    | Please select a new photo or the same photo. 
            button.btn.btn-outline-info Update
            a.btn.btn-outline-dark(href='/admin') Back
        style(type='text/css').
                    body{
                        background-image:url(../../img/background/b-1.png);
                        background-repeat:no-repeat;
                        background-position:left;
                        background-size:650px;
                    }
                    h2{
                        font-size:20px;
                        text-align:center;
                        font-weight:bold;
                    }
        script.
            (function() {
            'use strict';
            window.addEventListener('load', function() {
            var forms = document.getElementsByClassName('needs-validation');
            var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
            }
            form.classList.add('was-validated');
            }, false);
            });
            }, false);
            })();