extends ./template.pug

block content
    link(href='https://fonts.googleapis.com/css?family=Bad+Script|Baloo+Bhai+2|Rochester&display=swap' rel='stylesheet')
    .row
        .col-8
            #carouselExampleIndicators.carousel.slide(data-ride='carousel')
                ol.carousel-indicators
                    li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
                    li(data-target='#carouselExampleIndicators', data-slide-to='1')
                    li(data-target='#carouselExampleIndicators', data-slide-to='2')
                    li(data-target='#carouselExampleIndicators', data-slide-to='3')
                    li(data-target='#carouselExampleIndicators', data-slide-to='4')
                    li(data-target='#carouselExampleIndicators', data-slide-to='5')
                    li(data-target='#carouselExampleIndicators', data-slide-to='6')
                .carousel-inner
                    .carousel-item.active
                        img.d-block.w-100(src='../img/home/McArthur.jpeg', alt='McArthur Outlet', width='300',height='500' )
                    .carousel-item
                        img.d-block.w-100(src='../img/home/metrotown.jpg', alt='Metrotown Mall', width='300',height='500')
                    .carousel-item
                        img.d-block.w-100(src='../img/home/Pacificcenter.jpg', alt='Pacific Center',width='300',height='500')
                    .carousel-item
                        img.d-block.w-100(src='../img/home/parkroyal.jpg', alt='Park Royal',width='300',height='500')
                    .carousel-item
                        img.d-block.w-100(src='../img/home/richmondcenter.jpeg', alt='Richmond Center',width='300',height='500')
                    .carousel-item
                        img.d-block.w-100(src='../img/home/robson.jpg', alt='Robson St.',width='300',height='500')
                a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
                    span.carousel-control-prev-icon(aria-hidden='true')
                    span.sr-only Previous
                a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
                    span.carousel-control-next-icon(aria-hidden='true')
                    span.sr-only Next
                a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
                    span.carousel-control-next-icon(aria-hidden='true')
                    span.sr-only Next
                a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
                    span.carousel-control-next-icon(aria-hidden='true')
                    span.sr-only Next
                a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
                    span.carousel-control-next-icon(aria-hidden='true')
                    span.sr-only Next
                a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
                    span.carousel-control-next-icon(aria-hidden='true')
                    span.sr-only Next
        style(type='text/css').
            .post{
                background:#c2d4d8;
                height:500px;

            }
            .post p:first-child{
                text-align:left;
                font-size:20px;
                font-family: 'Baloo Bhai 2', cursive;
                color:black;
                    }
            .post p:last-child {
                text-align:left;
                font-size:40px;
                font-family: 'Baloo Bhai 2', cursive;
                color:black;
                    }
            .important p:first-child{
                color:black;
                font-size:40px;
                font-family: 'Baloo Bhai 2', cursive;
                text-align:center;
            }
            .important p{
                color:red;
                font-size:25px;
                font-family: 'Baloo Bhai 2', cursive;
                text-align:center
            }
            footer{
                background:#b0aac2;
                font-family: 'Baloo Bhai 2', cursive;
                font-size:35px;
                padding:30px;
                text-align:center;
            }
            .card img {
                width: 100%;
                height: auto;
                vertical-align: middle;
            }
        .col-4
            div
                .post
                    p.
                        Anything But Ordinary</br>
                    p.
                        Favorite brands and hottest trends.</br>
                    p.
                        Why pay more?
              
    .important
        p.
            Shopping process</br>
            Select the products in your shopping cart.</br>
            Complete the transaction in 3 business days.</br>      
        p.
            NOTICE:</br>
            The purchase only happens when the transaction is completed. </br>
        
        p.
            Attention:</br>
            No order cancelled after purchased
    .row
    .card-group
        .col-sm-4
            .card
                img.card-img-top(src='../img/home/Coach-Logo.jpg' alt='...')
                .card-body
                h5.card-title Coach
        .col-sm-4    
            .card
                img.card-img-top(src='../img/home/LV-logo.jpg' alt='...')
                .card-body
                h5.card-title Louis Vuitton
        .col-sm-4    
            .card
                img.card-img-top(src='../img/home/ordinary-logo.png' alt='...')
                .card-body
                h5.card-title The Ordinary
        .col-sm-4
            .card
                img.card-img-top(src='../img/home/Coach-Logo.jpg' alt='...')
                .card-body
                h5.card-title Coach
        .col-sm-4    
            .card
                img.card-img-top(src='../img/home/LV-logo.jpg' alt='...')
                .card-body
                h5.card-title Louis Vuitton
        .col-sm-4    
            .card
                img.card-img-top(src='../img/home/ordinary-logo.png' alt='...')
                .card-body
                h5.card-title The Ordinary
    footer
            p.
                Enjoy Your Shopping

