extends ./template.pug

block content
    .newArrival
        h2 Categories
        ul.nav.flex-column
            li.nav-item
                a.nav-link.active(href='#') Top
            li.nav-item
                a.nav-link(href='#') Bottom
            li.nav-item
                a.nav-link(href='#') Accessories 
    .row
        .card-group
            //each product in products
            .col-sm-4
                .card(style='width: 20rem;height:35rem;')
                    .card-body
                        img(src='https://aritzia.scene7.com/is/image/Aritzia/medium/s20_01_a01_67557_10006_on_b.jpg', alt='...', width='250')
                        h5.card-title
                        h6.card-subtitle.mb-2.text-muted Card subtitle
                        p.card-text
                        p.card-text 
                        //a.card-link(href='#') link
                        a.btn.btn-outline-primary(href='#') Add To Cart
                        //a.card-link(href='#') Add to cart
                        //button.btn.btn-outline-primary(type='button') Primary



            