extends ./template.pug

block content
    .women
        h2 Categories
        ul.nav.flex-column
            li.nav-item
                a.nav-link.active(href='#') Top
            li.nav-item
                a.nav-link(href='#') Bottom
            li.nav-item
                a.nav-link(href='#') Accessories
            

