body{
    font-family: 'Baloo Bhai 2', cursive;
    padding:30px;
}
h1{
    text-align:center;
}
.nav-item{
    font-size: 30px;
    font-weight:bold;
    font-family: 'Baloo Bhai 2', cursive;
    color:black;
}
.nav-link{
    color:black;
}
.nav-link:hover{
    color:pink;
}
.card{
    padding:10px 10px;

}
.card h5, h6{
    font-weight:bold;
    font-size:30px;
    color:#5e0231;

}