body{
    font-family: 'Dancing Script', cursive;
    margin:50px 50px 50px 50px;
}
h1{
    text-align:center;
}
.nav-item{
    font-size: 25px;
    font-family: 'Baloo Bhai 2', cursive;
    color:black;
}
.nav-link{
    color:black;
}
.nav-link:hover{
    color:brown;
}

.card h5, h6{
    font-weight:bold;
    font-size:30px;
    color:#5e0231;
}
.sticky {
    top: 0;
    padding: 5px;
    background-color:#ede9ce;
    
  }
  footer{
    font-family: 'Baloo Bhai 2', cursive;
    font-size:20px;
    margin-top:100;
    padding:5px;
    text-align:center;
    background:#ede9ce;
}