body{
    font-family: 'Baloo Bhai 2', cursive;
    padding:20px;
}
h1{
    font-weight:bold;
    text-align:center;
    background:#bccbde;    
    color:white;
}
form{
    padding:10px;
    background:yellow;
}