body{
    font-family: 'Baloo Bhai 2', cursive;
    padding:20px;
}
.admin h2{
    font-weight:bold;
    text-align:center;
    font-size:30px;    
    color:black;
    background:#E86FAD;
    margin:auto;
 
}
.create h2{
    font-weight:bold;
    text-align:center;
    font-size:30px;    
    color:black;
    padding:50px 50px 50px 50px;
}
form{
    border:1px solid #FF827A;
    width:50%;
    background:#FFDEE5;
    text-align:left;
    font-size:16px;
    margin: auto;
    padding:50px 50px 50px 50px;
}

